# ingest
boto3>=1.34
requests>=2.31
python-dotenv>=1.0

# processing
pyspark==3.5.1

# warehouse
snowflake-connector-python>=3.7

# transformation
dbt-core>=1.8
dbt-snowflake>=1.8

# quality
pytest>=8.0
duckdb>=1.0
ruff>=0.6
